/* .card-img-top {
    width: 50%;
    height: 50%;
    align-self: center;
} */

/* .card-img-top {
    height: 50rem;
    object-fit: cover;
} */
/* 
.card{
    justify-content: center;
} */

h5{
    font-family: 'Bangers', cursive;
    font-size: 25px;
  
}

.row{
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}